footer {
  position: absolute;
  top: 180%;
  left: 0%;
  width: 60%;
  margin: 0;


}

.Footer-part1 {
  position: absolute;
  background-color: #709ce8;
  color: #fffcfc;
  padding: 40px;
  padding-top: 30px;
  padding-left: 310px;
}


.v {
  padding-top: 20px;
  padding-left: 20px;
}

.p {
  padding-left: 0px;
}

.name-web {
  margin: 20px;
  margin-left: 0;
  font-size: 45px;
}

.foooter-last {
  position: absolute;
  background-color: #00215B;
  color: #ffffff;
  left: 50%;
  height: 380px;
  padding: 20px;
  width: 116.5%;
  margin: 0px;
}

.link {
  position: absolute;
  left: 55%;
  padding: 40px;

}

.support {
  padding: 50px;
  position: absolute;
  left: 35%;
  padding: 40px;


}

.blog {
  position: absolute;
  left: 50px;
  padding-top: 40px;
  width: 30%;

}
.imger{
      height: 50px;
  width: 50px;
}



/* animation title */

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

/* body {
  background-color:  #151719;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */
.waviy {
  position:absolute;
  padding-left: 60px;
  padding: 40px;

  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 40px;
}
.waviy span {

 font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  color: #000000;
  text-transform: uppercase;
  animation: waviy 2s infinite;
  animation-delay: calc(.2s * var(--i));

  
}
@keyframes waviy {
  0%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-50px)
  }
40%{
    transform: translateY(20px)
}



}