:root {
    --color-primary: #5ec576;
    --color-secondary: #ffcb03;
    --color-tertiary: #ff585f;
    --color-primary-darker: #4bbb7d;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #5ec5763a;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #ff58602d;
    --gradient-primary: linear-gradient(to top left, #69afda, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  }

/* body{
    display: block;
} */
.imgers{
    top: 15%;
width: 100%;
position: absolute;
height: 500px;
}
.contaienrpp{
position: absolute;
top: 35%;
left: 20%;
color:aliceblue;
}
.containercol{
    position: absolute;
    top: 80%;
    left: 25%;
    width: 400px;
    height: 800px;
}
.h1-col{
    font-size: 50px;
    padding-bottom: 50px;
}
.p-col{
font-size: 20px;


}

  .highlight {
    position: relative;
  }
  
  .highlight::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: var(--gradient-primary);
  }
  .contaiener-maimulte{
    position:absolute;
    top: 80%;
    left: 60%;
    width: 300px;
    padding: 20px;
    background-color: #2c4067;
    color: white;
    border-radius: 5px;
    /* padding-bottom: 150px; */
  }
  .more{
    padding-bottom: 30px;
  }
  .arrow{
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 40px;
border-radius: 5px;
    width: 50px;
    height: 40px;
  }
  /* --------------colaboration -----------------*/
  .contaien-colabor{
position: absolute;
top: 135%;
height: 329px;
width: 1174px;
  }

  .lafel{
    position: absolute;
    width: 270px;
    height: 230px;
    left: 20%;
     border: solid rgb(0, 0, 0);
     border-radius: 5px;
     box-shadow: 10px 10px 3px 3px rgb(45, 44, 44);
      transition: all 0.5s;
  }
 .lafel:hover{
    position: absolute;
    width: 270px;
    height: 230px;
    left: 20%;
     border: solid rgb(0, 0, 0);
     border-radius: 5px;
  
       box-shadow: 10px 10px 3px 3px rgb(129, 127, 127);
  }

.namecol{
 
  margin: 30px;
  margin-left: 30rem;
margin-bottom: 40px;
}

.peste
{
  font-size: 30px;
}

  .con1{
    text-align: center;
    padding:20px;
        margin-left:1100px;
        background-color: #ac9a80;
        color: #000000;
        
  }
  .con2{
    text-align: center;
    padding:20px;
        margin-left:750px;
           background-color: #e4cdac;
        color: #000000;
  }
  .con3{
    text-align: center;
    padding:20px;
    font-family: Open Sans,Arial,sans-serif;
        margin-left: 50px;
         background-color: #fdf0dd;
        color: #000000;
  }
  .con4{
    text-align: center;
    padding:20px;
    margin-left:400px;
    background-color: #b62d2b;
        color: #ffffff;
  
  }
  p{
    margin-bottom: 20px;
    margin:20px;
  }
  .htile{
    margin: 10px;
  }
  h3{
    text-align: center;
padding-top:20px;

  }